body{
border:0px;
margin: 0px 350px 0px 350px; 
padding:0px; 
background: #DCDCDC;
}

.logo{
background: white;
}
.menu{
padding:0px; 
width:1205px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #87CEFA;
}

nav ul li {
    float: left;
    padding: 0px 50px;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #39C;
}

.botaoc{
margin:180px 0px 0px 10px ;
border-radius: 30px;
width:220px;
height:310px;
}
.botaof{
margin:180px 0px 0px 150px ;
border-radius: 30px;
width:220px;
height:310px;
}
.botoes{
text-align: center;
}

.textoForum p{
width: 50px;
}

.textoCalendario{

width: 50px;
}

.copy{
text-align: center;
position: relative;
top: 180px;

}
